@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KyoboHandwriting2021sjy';
    font-weight: 700;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    width: 100%;
    height: 100%;
    color: #333;
    font-family: 'KyoboHandwriting2021sjy';
    background-color: #eee;
}

/* common */
.inner {
    margin: 0 auto;
}

section .title {
    margin-bottom: 40px;
    text-align: center;
    color: #a5c9c8;
    letter-spacing: 5px;
}

section .title h3 {
    font-size: 50px;
    margin-bottom: 15px;
    font-family: 'KyoboHandwriting2021sjy';
}

section .title p {
    font-size: 25px;
}

/* header */
header {
    /* position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9; */
    width: 100%;
    margin: 0 auto;
    z-index: 20; 
    background-color: #a5c9c8;
}

header.on{
    background-color: #a5c9c8;
    height: 60px;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 15; 
    color: #fff;
}

header .inner {
    width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .inner h1 {
    font-size: 20px;
    color: #fff;
}

header .inner .gnb ul {
    display: flex;
    font-size: 20px;
    color: #fff;
}

header .inner .gnb ul li a {
    padding-left: 100px;
}

header .inner .gnb ul li a:hover{
    color: #a5c9c8;
}

header.on .inner{
    padding-bottom: 15px;
}

header.on .inner .gnb ul{
    color: #fff;
}
header.on .inner .gnb ul li a:hover{
    color: #fff;
}


/* .main_visual */
.main_visual {
    margin: 0 auto;
    width: 100%;
    height: 1080px;   
    overflow: hidden;
    background-image: url("../img/체크판.png");
}

.main_visual .inner{
    width: 1440px;
    margin: 160px auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.main_visual .inner p{
    margin-bottom: 5px;
}

.main_visual .inner .info2 .skill .s1{
    display: flex;
    align-items: center;
}

.main_visual .inner .info2 .skill .s1 .de p{
    margin-bottom: 23px;
}

.main_visual .inner .info2 .skill .s1 .co {
    width: 100px;
    margin-right: 200px;
    margin-left: 20px;
}

.main_visual .inner .info2 .skill .s1 .co img{
    height: 50px;
}

.main_visual .img1 img{
    width: 480px;
    height: 550px;
    margin-bottom: 10px;
} 

.main_visual .img1 p{
    text-align: center;
}

.main_visual .inner .info1 .pro{
    margin-bottom: 30px;
}

.main_visual .inner h3{
    font-size: 30px;
    margin-bottom: 15px;
    color: #91c8bd;
}
.main_visual .inner p{
    font-size: 25px;
}

/* .cont02 영상편집 */

.cont02{
    width: 1440px;
    height: 1020px;
    margin: 0 auto;
    margin-top: 200px;
    padding-top: 150px;
}

.cont02 .inner{
    position: relative;
}

.cont02 .title{
    text-align: center;
    margin-bottom: 30px;
}

.cont02 h3{
    color: #a5c9c8;
    font-size: 60px;
}

.cont02 .inner .title h3:nth-of-type(1){
    padding-right: 50px;
}

.cont02 .inner .title h3:nth-of-type(2){
    padding-left: 50px;
}

.cont02 p{
    color: #333;
}

.cont02 .motion_menu {
    margin-top: 10px;
    display: inline-block;
}

.cont02 .motion_menu ul {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding-left: 380px;
    background-color: #eee;
    height: 40px;
}

.cont02 .motion_menu ul li {
    padding: 0 30px;
    font-size: 20px;
    font-weight: 500;
    cursor:context-menu;
    line-height: 45px;
    border: 1px solid #a5c9c8;
    color: #a5c9c8;
}
    
.cont02 .motion_menu ul li.on {
    line-height: 45px;
    background-color: #a5c9c8;
    color: #fff;
}

.cont02 .mySwiper {display: none;}
.cont02 .mySwiper.on {display: block;}

.cont02 .mySwiper .item{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items:flex-end;
}

.cont02 .mySwiper .item .youtube{
    width: 70%;
}

.cont02 .mySwiper .item .info{
    width: 45%;
    text-align: left;
    border: 3px solid #a5c9c8;
    background-color: #eee;
    margin-left: 20px;
}

.cont02 .mySwiper .item .info .a1{
    background-color: #a5c9c8;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.cont02 .mySwiper .item .info .a1 strong{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.cont02 .mySwiper .item .info .a1 h4{
    font-size: 40px;
    text-align: center;
}

.cont02 .mySwiper .item .info p{
    font-size: 20px;
    margin-top: 20px;
    padding-top: 10px;
    line-height: 1.4;
    padding: 10px;
    color:#333;
    text-align: center;
}

.cont02 .mySwiper .item .info .text{
    margin: 20px 0 15px;
    text-align: center;
    font-size: 20px;
}

.cont02 .mySwiper .item .info .text li{
    line-height: 1.6;
}

.cont02 .mySwiper .item .info .btn{
    padding-left: 155px;
    display: flex;
    margin-bottom: 10px;
}

.cont02 .mySwiper .item .info .btn  li{
    height: 40px;
    line-height: 45px;
    border-radius: 10px;
    background-color: #a5c9c8;
    color: #fff;
    margin-right: 10px;
}

.cont02 .mySwiper .item .info .btn li a{
    padding: 0 25px;
}

.cont02 .mySwiper .item .info .btn li:nth-of-type(2){
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
}


/* .cont03 웹사이트 */
.cont03 {
    margin: 150px auto;
    padding-top: 100px;
    width: 100%;
}

.cont03 .title{
    text-align: center;
    font-family: 'KyoboHandwriting2021sjy';
}

.cont03 .title h3:nth-of-type(1){
    padding-right: 100px;
}

.cont03 .title h3:nth-of-type(2){
    padding-left: 100px;
}

.cont03 .title p{
    margin-top: 10px;
    color: #333;
}


.cont03 .list .a1{
    width: 1440px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.cont03 .list .item h3{
    text-align: center;
    margin-top: 15px;
    color: #a5c9c8;
    font-size: 26px;
}

.cont03 .list .item{
    width: 480px;
    height: 750px;
    position: relative;
    overflow: hidden;
}

.cont03 .list .item img{
    padding: 15px 0 0 18px;
    width: 460px;
    height: 680px;
    object-fit: cover;
}


.cont03 .list .item .info{
    line-height: 1.5;
    width: 442px;
    height: 250px;
    text-align: center;
    padding-top: 15px;
    position: absolute;
    top: 1000px;
    left:18px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.647);
    transition: 0.5s;
}

.cont03 .list .item:hover .info{
top: 475px
}

.cont03 .list .item:nth-of-type(3) .info{
    padding-top: 40px;
}

.cont03 .list .item:nth-of-type(3) .info .btn{
    margin-top: 5px;
}

.cont03 .list .item .info .btn{
    display: flex;
    justify-content: center;
}

.cont03 .list .item .info .btn li a:hover{
    text-decoration:underline;
    color: #FFF;
}

.cont03 .list .item .info .btn li{
    width: 180px;
    height: 40px;
    line-height: 45px;
    border-radius: 10px;
    background-color: #a5c9c8;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* 그래픽디자인 */

.cont04{
    width: 100%;
    height: 1080px;
    margin: 0 auto;
    margin-top: 150px;
    padding-top: 150px;
}

.cont04 .back{
     background: linear-gradient(145deg, #fff,#91c8bd);
}

.cont04 .back .carouselTicker{
    width: 1440px;
    margin: 0 auto;
}
.cont04 .inner .title p{
    color: #333;
}

.cont04 .inner .title h3:nth-of-type(1){
    padding-right: 50px;
}

.cont04 .inner .title h3:nth-of-type(2){
    padding-left: 50px;
}

/* footer */
footer{
    margin-top: 150px;
    padding: 70px 0;
    background-color: #fff;
    color: #333;
    text-align: center;
}

footer ul {
    margin-bottom: 50px;
}

footer ul li{
    height: 50px;  
    width: 200px;
    background-color: #91c8bd;
    margin: 10px auto;
    border-radius: 40px;
    color: #fff;
}

footer ul li:hover{
    background-color: #fcfbc2;
    color: #333;
}

footer ul li a{
    display: block;
    line-height: 50px;
}

footer p{
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    line-height: 1.4;
}